@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@400;500;700&family=Poppins:ital,wght@0,200;1,200&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  /* Navbar Section */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #3c3a39;
  }

  .navbar {
    width: 100%;
    height: 60px;
    background-color: #3c3a39;
  }

  .navbar-flex {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 14px;
    margin-right: 14px;
    list-style: none;
  }

  .logo {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: white;
    width: 200px;
    margin-left: 24px;
    margin-top: 24px;
    position: absolute;
  }

  .card-grid {
    display: none;
  }

  .fa-bars {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-right: 24px;
    margin-top: 10px;
  }

  .mob-bars {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-right: 24px;
    margin-top: 10px;
    position: relative;
  }

  .card-grid-mob {
    margin-top: 521px;
  }

  /* Hero Section */
  .main-div {
    background-color: #1c1a19;
    width: 100%;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }

  .main-heading {
    font-family: "Crete Round", serif;
    max-width: 327px;
    max-height: 188px;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    margin-left: 20px;
    margin-right: 20px;
  }

  .support-text {
    font-family: "Roboto", sans-serif;
    max-width: 327px;
    max-height: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #fff5e1;
    margin-left: 20px;
    margin-right: 20px;
  }

  .accounts {
    display: flex;
    margin-left: 15px;
    width: 200px;
    height: 40px;
  }

  .accounts a {
    list-style: none;
    text-decoration: none;
    color: #dbd8d7;
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }

  .descriptive-text {
    font-family: "Poppins", sans-serif;
    max-width: 327px;
    max-height: 176px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
  }

  #menu-icon {
    position: absolute;
    width: 150px;
    right: 0;
    bottom: 0;
    background-position: right;
  }

  .accounts li {
    list-style: none;
  }

  .main-image {
    background-image: url("./main-image.svg");
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-end;
    width: 108.89px;
    height: 312.03px;
    margin-top: -196px;
  }

  .work-head {
    width: 327px;
    height: 83px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #1c1a19;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .about-flex {
    margin-top: 100px;
    position: absolute;
  }

  .post-title {
    width: 327px;
    height: 36px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .sup-txt {
    width: 327px;
    height: 147px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  /* Work Section  */
  .grid-items {
    display: grid;
    grid-template-rows: 162px 50px 1fr 404px 404px 404px 404px 404px 404px;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .work-main-heading {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #1c1a19;
    grid-row: 1/2;
    align-self: flex-end;
  }

  .divider {
    width: 327px;
    border: 1px solid #212121;
  }

  .main-card {
    display: flex;
    flex-direction: column;
    margin-top: -90px;
  }

  .post-image {
    background-image: url("./img/background.jpeg");
    background-repeat: no-repeat;
    min-width: 327px;
    height: 237px;
    margin-top: 582px;
  }

  .work-title-post {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    max-width: 250px;
    color: #091e42;
    min-width: 325px;
    margin-top: 24px;
    margin-bottom: 15px;
  }

  .work-supporting-text {
    font-family: "Inter", sans-serif;
    color: #091e42;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 322px;
  }

  .languages-list {
    display: flex;
    width: 322px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .languages-list li {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    list-style: none;
    color: #091e42;
    border: 1px solid #8993a4;
    margin-right: 5px;
    padding: 5px;
  }

  .card {
    background-image: url("./img/background3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 324px;
    height: 386px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
  }

  .card-heading {
    font-family: "Crete Round", serif;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    max-width: 285px;
    margin-bottom: 4px;
  }

  .card-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 285px;
    color: #fff;
    margin-bottom: 2px;
  }

  .card-languages-list {
    display: flex;
    color: #fff;
    width: 285px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .card-languages-list li {
    font-family: "Inter", sans-serif;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.24);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-right: 5px;
    padding: 5px;
  }

  /* About Section */
  .about-sec {
    background-color: #1c1a19;
    height: 1901px;
    margin-top: -2320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-head {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    margin-bottom: 24px;
  }

  .about-desktop {
    display: flex;
    flex-direction: column;
    margin-top: -1300px;
  }

  .about-descrip {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
    width: 320px;
    margin-bottom: 24px;
  }

  .about-image {
    background-image: url("./img/background2.png");
    background-repeat: no-repeat;
    width: 160.27px;
    height: 258.7px;
    align-self: flex-end;
    max-width: calc(100% - 20px);
    margin-top: -76px;
    z-index: 1;
  }

  .about-sec hr {
    width: 327px;
    max-width: calc(100% - 20px);
    color: #fff;
    margin-top: 10px;
    position: absolute;
    margin-left: -175px;
  }

  .about-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color: #fff;
    text-align: center;
    margin-top: -400px;
    position: absolute;
  }

  .language {
    list-style: square inside url("./img/diamond.png");
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 114px;
  }

  .frameworks {
    list-style: square inside url("./img/square.jpeg");
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 114px;
  }

  .skills {
    list-style: disc inside url("./img/circle.png");
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 114px;
    float: right;
  }

  .list-style-none {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
  }

  /* Button Styles */
  .button-primary {
    background-color: #ff6b00;
    font-family: "Inter", sans-serif;
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    border: 1px solid #ff6b00;
    padding: 12px;
  }

  .button-primary:hover {
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    color: #ff6b00;
    cursor: pointer;
  }

  .button-primary:active {
    background-color: #ff6b00;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #f4f1f0;
  }

  button[disabled="disabled"],
  button:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
    font-family: "Inter", sans-serif;
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid #ff6b00;
  }

  .btn-block {
    width: 327px;
    height: 48px;
  }

  .see-project {
    width: 322px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 124px;
  }

  .contact-text {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 72px;
    height: 216px;
    width: 327px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .input-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #979493;
    border-bottom: 1px solid #dbd8d7;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 29px;
    padding-bottom: 11px;
    padding-left: 16px;
    width: 327px;
    height: 48px;
  }

  .input-text:focus {
    border-color: #6b6867;
    outline-style: none;
  }

  .input-message {
    font-family: "Inter", sans-serif;
    font-style: italic;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
    background: #fbf8f7;
    border: none;
    margin-bottom: 24px;
    width: 327px;
    height: 114px;
  }

  .message-field:focus {
    outline-style: none;
  }

  .form button {
    width: 131px;
  }

  /* Footer Section */
  .footer hr {
    background: #dfe1e6;
  }

  .footer-accounts {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 60px;
  }

  .github-foot {
    background-image: url("./img/github.png");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .linkedin-foot {
    background-image: url("./img/linkedin.png");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .angellist-foot {
    background-image: url("./img/angelist.png");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .twitter-foot {
    background-image: url("./img/twitter.png");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .medium-foot {
    background-image: url("./img/medium.png");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .nav-link {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  /* Navbar Section */
  * {
    margin: 0;
    padding: 0;
  }

  .mob-bars {
    display: none;
  }

  .logo {
    margin-left: 154px;
    padding-top: 26px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 40vw;
    animation: rotate 1s ease-in-out;
    animation-fill-mode: forwards;
    transform-origin: center center;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .navbar {
    width: 1440px;
    height: 72px;
    padding-left: 0;
    padding-top: 0;
    background: #3e3c3c;
  }

  .navbar-flex {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    margin-top: -18px;
    margin-right: 156px;
  }

  .nav-link {
    list-style: none;
  }

  .nav-link a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: white;
    margin-left: 8px;
    margin-right: 34px;
    transition: color 0.5s ease;
  }

  .envelope {
    background-image: url("./img/envelope.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    list-style: none;
    margin-top: -3px;
  }

  .main-div {
    height: 870px;
    background: #1c1a19;
    width: 1440px;
  }

  .intro-div {
    display: flex;
    flex-direction: column;
    margin-left: 143px;
  }

  .main-heading {
    width: 566px;
    height: 160px;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    margin-top: 192px;
    color: #f55800;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
  }

  .support-text {
    width: 566px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    padding-top: 20px;
  }

  .descriptive-text {
    width: 566px;
    height: 123px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    padding-top: 48px;
  }

  .accounts-flex {
    width: 18px;
  }

  .accounts {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 18px;
    margin-top: -239px;
  }

  .accounts a {
    list-style: none;
    text-decoration: none;
    color: #dbd8d7;
    width: 17.99px;
    height: 20px;
    margin-left: 20px;
  }

  .accounts li {
    list-style: none;
    width: 17.99px;
    height: 20px;
    margin-top: 20px;
    margin-left: 36px;
  }

  .nav-link a:hover {
    color: orange;
  }

  .main-image {
    background-image: url("./img/main-image-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-end;
    width: 569px;
    height: 752px;
    margin-top: -459px;
    margin-left: 872px;
    position: relative;
  }

  .desktop-hr {
    display: flex;
  }

  .work-main-heading {
    width: 315px;
    height: 52px;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    margin-left: 153px;
    margin-top: 135px;
  }

  .divider {
    width: 794px;
    height: 1px;
    border: 1px solid #212121;
    margin-top: 163px;
    margin-left: 24px;
  }

  .main-card {
    display: flex;
    margin-top: 114px;
    margin-left: 141px;
  }

  .post-image {
    background-image: url("./img/work.desktop.png");
    background-repeat: no-repeat;
    min-width: 684px;
    height: 448px;
  }

  .work-section {
    height: 1700px;
  }

  .work-text {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
  }

  .work-title-post {
    width: 448px;
    height: 48px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #091e42;
  }

  .work-supporting-text {
    width: 385px;
    height: 140px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .languages-list {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 314px;
    height: 40px;
  }

  .languages-list li {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    list-style: none;
    color: #091e42;
    border: 1px solid #8993a4;
    margin-right: 5px;
    width: 95px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 37px;
    margin-top: 24px;
    width: 1155px;
    margin-left: 142px;
    margin-right: 143px;
    margin-bottom: 130px;
  }

  .card {
    background-image: url("./img/about-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 369px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
  }

  .card-1 {
    background-image: url("./img/about-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 369px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
  }

  .card-2 {
    background-image: url("./img/about-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 369px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
  }

  .card-3 {
    background-image: url("./img/about-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 369px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
  }

  .card-4 {
    background-image: url("./img/about-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 369px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
  }

  .card-5 {
    background-image: url("./img/about-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 369px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
  }

  .card-heading {
    font-family: "Crete Round", serif;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 4px;
    width: 337px;
    height: 81px;
  }

  .card-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin-bottom: 24px;
    margin-top: 24px;
    width: 337px;
    height: 72px;
    font-size: 17px;
  }

  .card-languages-list {
    display: flex;
    color: #fff;
    width: 360px;
    align-items: center;
    padding: 10px 12px;
    height: 40px;
  }

  .card-languages-list li {
    font-family: "Inter", sans-serif;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.24);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-right: 5px;
    padding: 5px;
  }

  /* About Section */
  .about-sec {
    background-color: #1c1a19;
    align-items: flex-start;
    margin-top: 120px;
    width: 1440px;
    height: 1195px;
  }

  .about-desktop {
    display: flex;
    flex-direction: column;
    margin-left: 142px;
    width: 566px;
    padding-top: 130px;
  }

  .about-head {
    font-family: "Crete Round", serif;
    font-style: normal;
    height: 78px;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    align-items: flex-start;
    color: #f55800;
  }

  .about-descrip {
    height: 148px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 566px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #f4f5f7;
    padding-top: 24px;
  }

  .about-image {
    background-image: url("./img/desktopabout.png");
    position: relative;
    width: 673.27px;
    height: 353px;
    background-repeat: no-repeat;
    margin-left: 854px;
    margin-top: -327px;
  }

  .about-sec hr {
    width: 1156px;
    max-width: calc(100% - 20px);
    color: #fff;
    margin-left: 142px;
    margin-top: 140px;
  }

  .about-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    margin-left: 300px;
  }

  .grid-items {
    width: 1440px;
  }

  .language {
    list-style: square inside url("./img/diamond.png");
    font-style: normal;
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    line-height: 114px;
    width: 290px;
    margin-right: 804px;
  }

  .frameworks {
    list-style: none;
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 114px;
    width: 280px;
    margin-left: 100px;
  }

  .skills {
    list-style: disc inside url("./img/circle.png");
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 114px;
    width: 255px;
    position: absolute;
    margin-left: 1100px;
  }

  .fw {
    display: flex;
    align-items: center;
  }

  .fw img {
    margin-right: 10px;
    object-fit: cover;
  }

  .list-style-none {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
  }

  .new {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .about-flex {
    margin-left: 0;
    width: 1156px;
  }

  /* Button Styles */
  .button-primary {
    background-color: #ff6b00;
    font-family: "Inter", sans-serif;
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    border: 1px solid #ff6b00;
    padding: 12px;
    margin-top: 24px;
  }

  .button-primary-desk {
    background-color: #ff6b00;
    font-family: "Inter", sans-serif;
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    border: 1px solid #ff6b00;
    padding: 12px;
    margin-top: 24px;
    width: 369px;
    height: 58px;
  }

  .button-primary:hover {
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    color: #ff6b00;
    cursor: pointer;
  }

  .button-primary:active {
    background-color: #ff6b00;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #f4f1f0;
  }

  button[disabled="disabled"],
  button:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
    font-family: "Inter", sans-serif;
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid #ff6b00;
  }

  .btn-block {
    width: 327px;
    height: 48px;
  }

  .see-project {
    width: 322px;
  }

  .contact-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 124px;
    width: 1440px;
  }

  .left-text {
    margin-left: 0;
    width: 455px;
    height: 256px;
  }

  .contact-text {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #172b4d;
    margin-bottom: 72px;
    height: 216px;
    width: 415px;
    margin-top: -100px;
    font-size: 40px;
    line-height: 52px;
    margin-left: -165px;
    margin-right: 30px;
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
  }

  .input-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #979493;
    border-bottom: 1px solid #dbd8d7;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 29px;
    padding-bottom: 11px;
    padding-left: 16px;
    width: 684px;
    height: 48px;
    margin-right: 0;
  }

  .input-text:focus {
    border-color: #6b6867;
    outline-style: none;
  }

  .input-message {
    font-family: "Inter", sans-serif;
    font-style: italic;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
    background: #fbf8f7;
    border: none;
    margin-bottom: 24px;
    width: 684px;
    height: 114px;
  }

  .message-field:focus {
    outline-style: none;
  }

  .form button {
    width: 161px;
  }

  /* Footer Section */

  .footer {
    width: 1440px;
  }

  .footer hr {
    background: #dfe1e6;
    width: 1440px;
  }

  .footer-accounts {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 60px;
  }

  .github-foot {
    background-image: url("./img/github.png");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .linkedin-foot {
    background-image: url("./img/linkedin.png");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .angellist-foot {
    background-image: url("./img/angelist.png");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .twitter-foot {
    background-image: url("./img/twitter.png");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .medium-foot {
    background-image: url("./img/medium.png");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .card-grid-mob {
    display: none;
  }
}
